.container{
  width: 250px;
  margin: auto;
}

.logo{
  width: 150px;
}

.titolo{
  font-size: 25px;
  color: #00ff00;
  width: 400px;
  margin-left: 500px;
}

.navigatore{
  background-color: #00ff00;
  margin: 15px;
  padding: 15px;
}

.contenitoreNAV{
  margin-left: 500px;
}

.statobatteria1{
  width: 300px;
  height: 20px;
  background-color: red;
  border-radius: 4%;
  display: inline-block;
}

.statobatteria2{
  width: 500px;
  height: 20px;
  background-color: blue;
  border-radius: 4%;
  display: inline-block;
}

.statobatteria3{
  width: 150px;
  height: 20px;
  background-color: yellow;
  border-radius: 4%;
  display: inline-block;
}

body{
  background-image: url(background.jpg);
  background-size: cover;
}

#monopattino{
  color: white;
  font-family: Calibri;
  font-size: 25px;
}

#distanze{
  color: white;
}



/* → */
