body{
  background-image: url(background.jpg);
  background-size: cover;
  opacity: 1;
}

.container{
  text-align: center;
}

#logo{
  width: 200px;
}

#titolo{
  color: #00ff00;
}

/* Barra comandi del Monopattino */

.navigatore{
  background-color: #00ff00;
  text-align: center;
  padding: 12px;
}

/* Colore e font del Main, corpo centrale */

.informazioni{
  color: white;
  font-family: Calibri;
  margin-left: 200px;
}

/* Grandezza Nominativo Monopattino */

.veicolo{
  font-size: 25px;
}

/* Barra carica batteria */

#statobatteria1{
  width: 300px;
  height: 20px;
  background-color: red;
  border-radius: 4%;
  display: inline-block;
}

#statobatteria2{
  width: 500px;
  height: 20px;
  background-color: blue;
  border-radius: 4%;
  display: inline-block;
}

#statobatteria3{
  width: 150px;
  height: 20px;
  background-color: yellow;
  border-radius: 4%;
  display: inline-block;
}





/* → */
